<footer class="bg-zinc-900 flex py-10 gap-4 mt-4">
<div class="container mx-auto flex justify-evenly">
    <div>
        <h4 class="font-bold text-xl">Site Map</h4>
        <a href="/">Home</a>
        <p></p>
        <a href="/about">About</a>
    </div>
    <div>
        <h4 class="font-bold text-xl">Projects</h4>
        <a href="https://github.com/ergitoesp">Project 1</a>
        <p></p>
        <a href="https://github.com/ergitoesp">Project 2</a>
        <p></p>
        <a href="https://github.com/ergitoesp">Project 3</a>
    </div>
    <div>
        <h4 class="font-bold text-xl">Links</h4>
        <a href="https://github.com/ergitoesp">Discord</a>
        <a href="https://github.com/ergitoesp">Github</a>
    </div>
</div>
</footer>